<app-topnav title="Out of Stock"></app-topnav>
<main>
    <div class="main-part">
        <section class="glb-part bg-white section-100">
            <div class="container">
                <div class="glb-inner">
                    <div class="login-inner">
                        <div class="glb-form">
                                <div style="margin-left:20px;">
                                        <div class="form-field">
                                            <label>Hauptkategorie:</label>
                                            <select [(ngModel)]="selectedCategory" (change)="filterProductline()">
                                                <option>&nbsp;</option>
                                                <option *ngFor="let cat of categoryList" [ngValue]="cat.ID">{{ cat.viewValue }}</option>
                                            </select>
                                        </div>
                                        <div class="form-field">
                                            <label>Produktkategorie:</label>
                                            <select [(ngModel)]="selectedLine" (change)="filterProduct()">
                                                <option>&nbsp;</option>
                                                <option *ngFor="let pLine of filteredLineList" [ngValue]="pLine.ID">{{ pLine.viewValue }}</option>
                                            </select>
                                        </div>
                                        <div class="form-field">
                                          <label>Produkt:</label>
                                          <select [(ngModel)]="selectedProduct" >
                                              <option>&nbsp;</option>
                                              <option *ngFor="let product of filteredProductsList" [ngValue]="product.ID">{{ product.viewValue }}</option>
                                          </select>
                                        </div>
                                        <div class="form-field">
                                            <label>Restmenge:</label>
                                            <input type="number" name="qtyRemaining" [(ngModel)]="remainQuantity" placeholder="0" style="text-align: right;" (change)="setSend()">
                                         </div>
                                </div>
                                <div style="width: 100%; text-align: right;">
                                    <img src="assets/action-save-active.svg" *ngIf="isValid"  style="margin-left: 10px; margin-bottom: 10px; margin-right: 5px;height: 35px;" (click)="doSave()"/>
                                    <img src="assets/action-save.svg" *ngIf="!isValid"  style="margin-left: 10px; margin-bottom: 10px; margin-right: 5px;height: 35px;"/>
                                </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="glb-table">
               <label>Deine Restmengen Meldungen:</label>
               <table>
                   <thead>
                       <tr>
                           <th>Artikel</th>
                           <th>Datum</th>
                           <th>Menge</th>
                           <th>Status</th>
                       </tr>
                   </thead>
                   <tbody>
                       <tr *ngFor="let oos of listOOS">
                           <td><a href="#" style="font-weight:bold; color:#042e50">{{ oos.productname }}</a></td>
                           <td>{{ oos.reportdate }}</td>
                           <td>{{ oos.remainQuantity }}</td>
                           <td style="display:flex;"><input type="checkbox" style="white-space: nowrap; width: unset;" [checked]="oos.settledDate">erledigt</td>
                       </tr>                      
                   </tbody>
               </table>
           </div>
         </section>
     </div>
</main>

