<app-topnav></app-topnav>
<main>
    <div class="main-part">
        <section class="glb-part bg-white section-100">
            <div class="container">
                <div class="glb-inner">
                    <div class="login-inner">
                        <div class="glb-bottom">
    
                                <div>
                                        <div class="form-field">
                                            <label>Produktkategorie:</label>
                                            <select [(ngModel)]="selectedLine" (change)="filterProduct()">
                                                <option>&nbsp;</option>
                                                <option *ngFor="let line of productline" [ngValue]="line">{{ line }}</option>
                                            </select>                                
                                        </div>
                                        <div class="form-field">
                                            <label>Produktkategorie:</label>
                                            <select [(ngModel)]="selectedLine" (change)="filterProduct()">
                                                <option>&nbsp;</option>
                                                <option *ngFor="let line of productline" [ngValue]="line">{{ line }}</option>
                                            </select>                                
                                        </div>
                                        <div class="form-field">
                                        <label>Produkt:</label>
                                        <select>
                                            <option>&nbsp;</option>
                                            <option *ngFor="let product of filteredProductList">{{ product.viewValue }}</option>
                                        </select>
                                        </div>
                                        <div class="form-field">
                                    <label>Nachbestellung,<br> Menge:</label>
                                    <input type="text" name="txt" placeholder="">
                                        </div>  
                                        <div style="width: 100%; text-align: right;">
                                            <img src="assets/action-arrow-active.svg"  style="margin-left: 10px; margin-bottom: 20px; height: 40px;"/>
                                        </div>
                                </div>
                                

                        </div>
                    </div>
                </div>
            </div>

            <div class="glb-table">
               <label>Deine Nachbestellungen:</label>
               <table>
                   <thead>
                       <tr>
                           <th>Artikel</th>
                           <th>Datum</th>
                           <th>Menge</th>
                           <th>Status</th>                                           
                       </tr>
                   </thead>
                   <tbody>
                       <tr>
                           <td><a href="#" style="font-weight:bold; color:#042e50">Artikel</a></td>
                           <td>Datum</td>
                           <td>Menge</td>
                           <td>bestellt</td>  
                       </tr>
                       <tr>
                           <td><a href="#" style="font-weight: bold; color:#042e50">Artikel</a></td>
                           <td>Datum</td>
                           <td>Menge</td>
                           <td>geliefert</td>  
                       </tr>
                       <tr>
                           <td><a href="#" style="font-weight: bold; color:#042e50">Artikel</a></td>
                           <td>Datum</td>
                           <td>Menge</td>
                           <td>geliefert</td>  
                       </tr>
                   </tbody>
               </table>
           </div>
         </section>
     </div>
</main>

