.glb-form {
     padding-left: 0px;
     padding-right: 0px;
     display: flex;
     flex-direction: row;
     align-items: flex-end;
}
.form-field label {
     width: 10em;
     margin-right:0px;
}
.form-field select {
     width: 10em;
}

select, input {
     width: 10em;
}

input[type="checkbox"] {
     width: 10em;
     margin-right: 1em;
}

.glb-table { padding: 10px; }
.glb-table td {
     background-color: unset;     
}

tr:nth-child(even) {background-color: #e9ecef9c}
tr:nth-child(odd) {background: #FFFFFF}

.glb-form {
     margin-left: 0;
     margin-right: o;
}

.row>* {
     width: 0;
}