<app-topnav></app-topnav>
    <main>
        <div class="main-part">
            <section class="glb-part reward-part bg-white section-100">
                <div class="container">
                    <div class="glb-inner">
                        <div class="login-inner">
                            <h2>Gewinnspiel/ Prämien</h2>
                            <div class="glb-bottom">
                                <form class="glb-form" name="form" method="post" enctype="multipart/form-data">
                                    <div class="form-field">
                                        <!-- <label>Anrede</label> -->
                                        <select placeholder="Anrede">
                                            <option>( bitte wählen)</option>
                                            <option>Frau</option>
                                            <option>Herr</option>
                                        </select>
                                    </div>
                                    <div class="form-field">
                                        <!-- <label>Titel</label> -->
                                        <input type="text" name="txt" placeholder="Titel">
                                    </div>
                                    <div class="form-field">
                                        <!-- <label>Vorname</label> -->
                                        <input type="text" name="password" placeholder="Vorname">
                                        <!-- <input type="submit" name="submit" value=""> -->
                                    </div>
                                    <div class="form-field">
                                        <!-- <label>Nachname</label> -->
                                        <input type="text" name="txt" placeholder="Nachname">
                                    </div>
                                    <div class="form-field">
                                        <!-- <label>Straße</label> -->
                                        <input type="text" name="txt" placeholder="Straße">
                                    </div>
                                    <div class="form-field">
                                        <!-- <label>PLZ</label> -->
                                        <input type="text" name="txt" placeholder="PLZ">
                                    </div>
                                    <div class="form-field">
                                        <!-- <label>Ort</label> -->
                                        <input type="text" name="txt" placeholder="Ort">
                                    </div>
                                    <div class="form-field">
                                        <!-- <label>Geburtsdatum</label> -->
                                        <input type="text" name="txt" placeholder="Geburtsdatum">
                                    </div>
                                    <div class="form-field">
                                        <!-- <label>Telefon/ Mobil</label> -->
                                        <input type="text" name="tel" placeholder="Telefon">
                                    </div>
                                    <div class="form-field">
                                        <!-- <label>eMail</label> -->
                                        <input type="text" name="email" placeholder="eMail">
                                    </div>
                                    <div class="form-field">
                                        <!-- <label>Gewinnspiel</label> -->
                                        <select>
                                            <option>Gewinnspiel1</option>
                                            <option>Gewinnspiel2</option>
                                            <option>Gewinnspiel3</option>
                                        </select>
                                    </div>
                                    <div class="form-field">
                                        <!-- <label>Prämie</label> -->
                                        <select>
                                            <option>Prämie1</option>
                                            <option>Prämie2</option>
                                            <option>Prämie3</option>
                                        </select>
                                    </div>
                                    <div class="form-field camera-product">
                                        <div class="camera-left">
                                            <label for="bus_img">
                                                <img src="assets/camero.png"/>
                                            </label>
                                            <input type="file" name="bus_img" id="bus_img" accept="image/*;capture=camera">
                                        </div>
                                        <div class="camera-right">
                                            <button><img src="assets/icon1-active.png" alt=""></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
<app-footer></app-footer>
