<app-topnav></app-topnav>
<main>
     <div class="main-part">
         <section class="bg-white section-100">               
               <div class="container">
                    <div class="glb-inner">
                        <h3>Deine nächsten Einsätze:</h3>     
                         <div class="placement"> 
                            <div >                                
                                <strong>{{ currentAssignment.operationDate }} {{ weekdayName }}</strong>
                                <div>{{ currentAssignment.posName }} {{ currentAssignment.externalPOSNo }}</div>
                                <div>{{ currentAssignment.posStreet }}</div>
                                <div>{{ currentAssignment.postalcode }} {{ currentAssignment.city }}</div>
                            </div>
                            <div class="assign-navigation">
                                <img src="assets/action-arrow.svg" alt="prev" class="action-btn action-arrow-left" *ngIf="assignNo==0" (click)="setAssign(-1)"/>
                                <img src="assets/action-arrow-active.svg" alt="prev" class="action-btn action-arrow-left" *ngIf="assignNo!=0" (click)="setAssign(-1)"/>
                                <img src="assets/action-arrow.svg" alt="prev" class="action-btn action-arrow-right" *ngIf="assignNo==noOfAssignment-1" (click)="setAssign(1)" />
                                <img src="assets/action-arrow-active.svg" alt="prev" class="action-btn action-arrow-right" *ngIf="assignNo<noOfAssignment-1" (click)="setAssign(1)" />
                            </div>
                         </div>
                         <div class="action-icons-list">     
                                 <div class="item">
                                         <img src="assets/action-arrow-active.svg" alt="" class="action-btn action-active" *ngIf="currentStatus=='working'" (click)="setStatus('working')" />
                                         <img src="assets/action-arrow.svg" alt="" class="action-btn" *ngIf="currentStatus=='break' || currentStatus=='end'" (click)="setStatus('working')" />
                                 </div>
                                 <div class="item">
                                    <img src="assets/action-break-active.svg" alt="" class="action-btn action-active" style="height:60px;" *ngIf="currentStatus=='break'" (click)="setStatus('working')" />
                                    <img src="assets/action-break.svg" alt="" class="action-btn" style="height:50px;" *ngIf="currentStatus=='working' || currentStatus=='end'" (click)="setStatus('break')" />
                                 </div>
                                 <div class="item">
                                        <img src="assets/action-end-active.svg" alt="" class="action-btn"  *ngIf="currentStatus=='ende'" (click)="setStatus('')" />
                                        <img src="assets/action-end.svg" alt="" class="action-btn" *ngIf="currentStatus!='ende'" (click)="setStatus('ende')" />
                                 </div>
                                 <div class="item">
                                    <img src="assets/action-report-active.svg" alt="" class="action-btn"  *ngIf="currentStatus=='ende'" (click)="setStatus('report')" />
                                    <img src="assets/action-report.svg" alt="" class="action-btn" *ngIf="currentStatus!='ende'" (click)="setStatus('ende')" />
                                 </div>                                  
                         </div>
                    </div>
                    <div class="working-hours">
                        
                            <div class="form-field">
                                <label>Beginn (Uhrzeit):</label>
                                <input type="text" name="txt" [(ngModel)]="workBegin" placeholder="">
                                <img src="assets/action-arrow-active.svg" alt="" class="action-btn action-active" style="height:25px; margin-top: 2px; margin-left: 10px;" *ngIf="workBegin" />
                                <img src="assets/action-arrow.svg" alt="" class="action-btn action-active" style="height:25px; margin-top: 2px; margin-left: 10px;" *ngIf="!workBegin" />
                            </div>
                            <div class="form-field">
                                <label>Ende (Uhrzeit):</label>
                                <input type="text" name="txt" [(ngModel)]="workEnd" placeholder="">
                                <img src="assets/action-arrow-active.svg" alt="" class="action-btn action-active" style="height:25px; margin-top: 2px; margin-left: 10px;"  *ngIf="workEnd" />
                                <img src="assets/action-arrow.svg" alt="" class="action-btn action-active" style="height:25px; margin-top: 2px; margin-left: 10px;"  *ngIf="!workEnd"/>
                            </div>
                     
                    </div>                         
                         <div class="glb-table">
                             <label>Pausen, von - bis</label>
                             <table>
                                 <thead>
                                     <tr>
                                         <th>Beginn</th>
                                         <th>Ende</th>
                                         <th>Std.</th>
                                     </tr>
                                 </thead>
                                 <tbody>
                                     <tr>
                                         <td>10:30</td>
                                         <td>19:15</td>
                                         <td>8:45</td>
                                     </tr>
                                     <tr>
                                         <td>Beginn</td>
                                         <td>Ende</td>
                                         <td>Std.</td>
                                     </tr>
                                     <tr>
                                         <td>Beginn</td>
                                         <td>Ende</td>
                                         <td>Std.</td>
                                     </tr>
                                 </tbody>
                             </table>
                         </div>
                         <div class="verkaufe-bottom">
                             <form class="verkaufe-form" name="form" method="post">
                                 <div class="form-field">
                                     <label>Ende (Uhrzeit):</label>
                                     <input type="text" name="txt" placeholder="">
                                     <input type="submit" name="submit" value="">
                                 </div>
                             </form>
                         </div>
                         <div class="glb-table-simple">
                             <table>
                                 <tr>
                                     <td>Gesamtstd., Tag</td>
                                     <td><strong>8:45</strong></td>
                                 </tr>
                                 <tr>
                                     <td>Gesamtstd., Woche</td>
                                     <td><strong>48:45</strong></td>
                                 </tr>
                                 <tr>
                                     <td>Gesamtstd., Projekt</td>
                                     <td><strong>8:45</strong></td>
                                 </tr>
                             </table>
                         </div>
                     </div>



         </section>
     </div>
</main>
<app-footer></app-footer>


