<app-topnav></app-topnav>
<main>
    <div class="main-part">
        <section class="verkaufe-part bg-white section-100">
            <div class="container">
                <div class="verkaufe-inner">
                    <h2>Mitteilungen/ Ereignisse:</h2>
                    <p>Sollte mal etwas schief gehen, setze uns bitte umgehend in Kenntnis und sende <strong>bei Bekanntwerden</strong> eine Nachricht mit folgenden Inhalten:</p>
                    <div class="login-inner">
                        <div class="verkaufe-bottom">
                            <form class="verkaufe-form" name="form" method="post">
                                <div class="form-field">
                                    <label>Mitteilung-Typ:</label>
                                    <select>
                                            <option>( bitte wählen )</option>
                                            <option>Anforderung</option>
                                            <option>Ereignis/ Problem</option>
                                            <option>Sonstiges</option>
                                    </select>
                                </div>
                                <div class="form-field">
                                    <label>Rückrufnummer</label>
                                    <input type="text" name="txt" placeholder="">
                                </div>
                                <div class="form-field">
                                    <label>Was ist passiert</label>
                                    <input type="text" name="txt" placeholder="">
                                </div>
                                <div class="form-field">
                                    <label>Beschreibung</label>
                                    <textarea style="height: 300px;"></textarea>
                                </div>
                                <!-- <div class="form-field">
                                    <label>Lösung vorhanden?</label>
                                    <textarea></textarea>
                                    
                                </div> -->
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="whatsapp-icon">
                <img src="assets/icon1-active.png" alt="" />
                <a href="#"><img src="assets/whatsapp.png" alt=""></a>
            </div>
            
        </section>
    </div>
</main>
<app-footer></app-footer>