<app-topnav></app-topnav>
<main>
    <div class="main-part">
        <section class="glb-part bg-white section-100">
            <div class="container">
                <div class="glb-inner">
                    <h2>Mitteilungen/ Ereignisse:</h2>
                    <p>Sollte mal etwas schief gehen, setze uns bitte umgehend in Kenntnis und sende <strong>bei Bekanntwerden</strong> eine Nachricht mit folgenden Inhalten:</p>
                    <div class="login-inner">
                        <div class="glb-bottom">
                            <form class="glb-form" name="form" method="post">
                                <div class="form-field">
                                    <label>Mitteilung-Typ:</label>
                                    <select>
                                            <option>( bitte wählen )</option>
                                            <option>Anforderung</option>
                                            <option style="color: red;">Problem</option>
                                            <option>Ereignis</option>
                                    </select>
                                </div>
                                <div class="form-field">
                                    <label>Rückrufnummer</label>
                                    <input type="text" name="txt" placeholder="">
                                </div>
                                <div class="form-field">
                                    <label>Was ist passiert</label>
                                    <input type="text" name="txt" placeholder="">
                                </div>
                                <div class="form-field" style="flex-direction: column">
                                    <label>Beschreibung</label>
                                    <textarea style="height: 160px;" placeholder="max.300 Zeichen"></textarea>
                                </div>
                                <!-- <div class="form-field">
                                    <label>Lösung vorhanden?</label>
                                    <textarea></textarea>
                                    
                                </div> -->
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="whatsapp-icon">
                <img src="assets/action-arrow-active.svg" alt="" *ngIf="isSend==false" (click)="setSend()" style="width:20px;"/>
                <img src="assets/phone-red.svg" alt="" *ngIf="isSend" style="height:40px;" />                
            </div>
            
        </section>
    </div>
</main>
<app-footer></app-footer>