.reg-form {
     margin-top: 150px;
     display: flex;
     align-items: center;

}
.form-field {
     flex-direction: column;
} 

.form-field input {
     width: 16em;
}

.btn {
     width: 200px;
}

.alert-danger {
     font-size: 0.8em !important;
}