<app-topnav></app-topnav>
<main>
     <div class="main-part">
        <section class="network-part">
            <div class="container">
                <div class="network-inner">
                    <div class="round-item round-item-top-left round-item-sm round-item-yellow">
                        <a href="#">KUNDE</a>
                    </div>
                    <div class="round-item round-item-top-right round-item-md round-item-gray">
                        <a href="#">POS</a>
                    </div>
                    <div class="round-item round-item-center round-item-lg round-item-pink">
                        <a href="#">DU</a>
                    </div>
                    <div class="round-item round-item-bottom-left round-item-sm round-item-blue">
                        <a href="#">Agentur</a>
                    </div>
                    <div class="round-item round-item-bottom-center round-item-md round-item-perrot">
                        <a href="#">PARTNER</a>
                    </div>
                    <div class="round-item round-item-bottom-right round-item-sm round-item-sky">
                        <a href="#">POI</a>
                    </div>
                </div>
                <!-- <a href="#" class="wir-btn"><span>WIR</span> <small>Unser Erfolg</small></a> -->
            </div>
        </section>
     </div>
     <a [routerLink]="['/', 'login']" class="theme-btn theme-btn-float" style="position: absolute; bottom:50px;">LOGIN</a>
 </main>
 <app-footer></app-footer>
