<app-topnav></app-topnav>
<main>
     <div class="main-part">
         <section class="login-part bg-white section-100">
             <div class="login-illution">
                 <img src="assets/login.svg" alt="">
             </div>
             <div class="container">
                 <div class="login-inner">
                     <div class="glb-bottom">
                         <h2>Login:</h2>
                            <form class="login-form" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate >
                                <div style="display:flex; flex-direction: row; align-items:center">
                                    <div>
                                        <div class="form-field">
                                            <label>Benutzername:</label>
                                            <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required #username="ngModel" />
                                            <div class="alert alert-danger" role="alert" *ngIf="username.errors && f.submitted">Benutzername erforderlich!</div>
                                        </div>
                                        <div class="form-field">
                                            <label>Kennwort:</label>
                                            <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="10" #password="ngModel"/> 
                                            <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
                                            <div *ngIf="password.errors.required">Password erforderlich</div>
                                            <div *ngIf="password.errors.minlength"> mindestens 10 Zeichen</div>    
                                            </div>                                        
                                        </div>   
                                    </div>                                   
                                    <img src="assets/action-arrow-active.svg" alt="prev" class="action-btn action-arrow-right" (click)="onSubmit()"/>
                                </div>
                                                          
                            </form>
                            <div class="signup"><a [routerLink]="['/', 'register']">Deine erste Anmeldung? -- Bitte hier registrieren!</a></div>

                     </div>
                      <h6>Bitte sei mindestens 15 Minuten vor Einsatzbeginn an Deinem Einsatzort.</h6>
                  </div>
                 </div>
             <div class="top-around"></div>
             <div class="bottom-around"></div>
         </section>
     </div>
 </main>
 <app-footer></app-footer>
