.form-field {
     flex-direction: column;
     width: 20em;
}

.form-field input[type="text"], .form-field input[type="password"] {
     width: 18em;
}

.action-btn {
     margin-left: 10px;
     float: right;
}

div.modal-dialog {
     margin-top: 150px;
     background-color: red !important;
}
.modal-content {
     align-items: center !important;
}