<app-topnav></app-topnav>
<main>
     <div class="main-part">
         <section class="glb-part bg-white section-100">
             <div class="container">
                 <div class="glb-inner">
                     <div class="glb-top">
                         <h3>EINSATZ HEUTE</h3>
                         <p><strong>14.09.2024 Dienstag</strong> <br> Douglas (A) #POS-Nr 1 #POS-Nr. 2 <br> Schildergasse 10-12 <br> 40421 Düsseldorf <br> Einsatzzeit: 10:00 – 19:00</p>
                     </div>
                         <label>Dein nächsten Einsätze:</label>
                         <div>
                            <img src="assets/poslist.png" />
                         </div>
                 </div>
             </div>
         </section>
     </div>
 </main>
