<app-topnav></app-topnav>
<main>
     <div class="main-part">
         <section class="verkaufe-part bg-white section-100">
             <div class="container">
                 <div class="verkaufe-inner">
                     <div class="verkaufe-top">
                         <h3>EINSATZ HEUTE</h3>
                         <p><strong>14.09.2024 Dienstag</strong> <br> Douglas (A) #POS-Nr 1 #POS-Nr. 2 <br> Schildergasse 10-12 <br> 40421 Düsseldorf <br> Einsatzzeit: 10:00 – 19:00</p>
                     </div>
                     <!-- <div class="verkaufe-slider">
                         <div class="owl-carousel owl-theme" data-items="4" data-tablet="4" data-large-mobile="4" data-mobile="4" data-nav="true" data-dots="false" data-autoplay="false" data-speed="1000" data-autotime="5000" data-margin="0" data-loop="true">
                             <div class="item">
                                 <div class="slider-icon">
                                     <img src="images/icon1.png" alt="" class="icon-normal">
                                     <img src="images/icon1-active.png" alt="" class="icon-active">
                                 </div>
                             </div>
                             <div class="item">
                                 <div class="slider-icon">
                                     <img src="images/icon2.png" alt="" class="icon-normal">
                                     <img src="images/icon2-active.png" alt="" class="icon-active">
                                 </div>
                             </div>
                             <div class="item">
                                 <div class="slider-icon">
                                     <img src="images/icon3.png" alt="" class="icon-normal">
                                     <img src="images/icon3-active.png" alt="" class="icon-active">
                                 </div>
                             </div>
                             <div class="item">
                                 <div class="slider-icon">
                                     <img src="images/icon4.png" alt="" class="icon-normal">
                                     <img src="images/icon4-active.png" alt="" class="icon-active">
                                 </div>
                             </div>
                             <div class="item">
                                 <div class="slider-icon">
                                     <img src="images/icon1.png" alt="" class="icon-normal">
                                     <img src="images/icon1-active.png" alt="" class="icon-active">
                                 </div>
                             </div>
                             <div class="item">
                                 <div class="slider-icon">
                                     <img src="images/icon2.png" alt="" class="icon-normal">
                                     <img src="images/icon2-active.png" alt="" class="icon-active">
                                 </div>
                             </div>
                             <div class="item">
                                 <div class="slider-icon">
                                     <img src="images/icon3.png" alt="" class="icon-normal">
                                     <img src="images/icon3-active.png" alt="" class="icon-active">
                                 </div>
                             </div>
                             <div class="item">
                                 <div class="slider-icon">
                                     <img src="images/icon4.png" alt="" class="icon-normal">
                                     <img src="images/icon4-active.png" alt="" class="icon-active">
                                 </div>
                             </div>
                         </div>
                     </div> -->
                     <div class="glb-table">
                         <label>Dein Einsätze:</label>
                         <table>
                             <thead>
                                 <tr>
                                     <th>POS/ POI</th>
                                     <th>Datum</th>
                                     <th>Beginn</th>
                                     <th>Ende</th>                                           
                                 </tr>
                             </thead>
                             <tbody>
                                 <tr>
                                     <td><a href="#" style="font-weight:bold; color:#042e50">POS</a></td>
                                     <td>Datum</td>
                                     <td>Beginn</td>
                                     <td>Ende</td>  
                                 </tr>
                                 <tr>
                                     <td><a href="#" style="font-weight: bold; color:#042e50">POS</a></td>
                                     <td>Datum</td>
                                     <td>Beginn</td>
                                     <td>Ende</td>  
                                 </tr>
                                 <tr>
                                     <td><a href="#" style="font-weight: bold; color:#042e50">POS</a></td>
                                     <td>Datum</td>
                                     <td>Beginn</td>
                                     <td>Ende</td>  
                                 </tr>
                             </tbody>
                         </table>
                     </div>
                 </div>
             </div>
         </section>
     </div>
 </main>
