<header>
     <div class="header-part">
         <div class="container">
             <div class="header-inner">
                 <div class="logo">
                     <a href="#"><img src="assets/logo_red_dot.png" alt="" style="height: 80px; margin-top: 10px"></a>
                 </div>
                 <div class="login-icon">
                     <a [routerLink]="['/', 'login']"><img src="assets/user.png" alt=""></a>
                 </div>
                 <div class="hamburger-menu hamburger-menu-on">
                     <div class="burger burger-squeeze"><div class="burger-lines"></div></div>
                 </div>
                 <div class="main-menu">
                     <ul>
                         <li><a [routerLink]="['/', 'home']">Start/ Home</a></li>                                
                         <li><a [routerLink]="['/', 'dailywork']">Zeiterfassung</a></li>
                         <li><a [routerLink]="['/', 'sales']">Verkäufe & Oos</a></li> 
                         <li><a [routerLink]="['/', 'dailyreport']">Reporting</a></li>                              
                         <li><a [routerLink]="['/', 'message']">Eskalation</a></li>                                
                         <li><a [routerLink]="['/', 'reward']">Spiele & Prämien</a></li>
                         <li><a [routerLink]="['/', 'placement']">Einsätze</a></li>
                         <li><a [routerLink]="['/', 'login']">Abmelden</a></li>
                     </ul>
                 </div>
             </div>
         </div>
         <div class="nav-line">&nbsp;</div>
     </div>
 </header>