<header>
     <div class="header-part">
         <div class="container">
             <div class="header-inner">
                 <div class="logo">
                     <a href="#"><img src="images/logo.png" alt=""></a>
                 </div>
                 <div class="login-icon">
                     <a href="login.html"><img src="images/user.png" alt=""></a>
                 </div>
                 <div class="humbarger-menu humbarger-menu-on">
                     <div class="burger burger-squeeze"><div class="burger-lines"></div></div>
                 </div>
                 <div class="main-menu">
                     <ul>
                         <li><a href="home.html">Start/ Home</a></li>                                
                         <li><a href="working-hours.html">Zeiterfassung</a></li>
                         <li><a href="sales-result.html">Verkäufe</a></li> 
                         <li><a href="dailyreport.html">Berichte</a></li>                              
                         <li><a href="communication.html">Mitteilungen</a></li>                                
                         <li><a href="reward-competion.html">Gewinnspiel/ Prämie</a></li>
                         <li><a href="placement.html">Einsätze</a></li>
                         <li><a href="login.html">Abmelden</a></li>
                     </ul>
                 </div>
             </div>
         </div>
     </div>
 </header>