:root {
  --acc-yellow: #ffd00a;
  --acc-blue: #042e50;
  --acc-green: #4EA72E;
}


/*  GLOBAL */
* {
  font-family: 'Century Gothic';
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;

  margin: 0px;
  padding: 0px;
}

html , body{
  overflow-x: hidden;
}

body{
  background: url('./assets/bg.png') no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  color: #222222;
}

h1 , h2 , h3 , h4 , h5 , h6{
  color: var(--acc-blue);
  margin: 0 0 15px 0;
  padding: 0px;
  font-weight: bold;
  font-family: 'Century Gothic';
}

h1{
  font-size: 22px;
  text-transform: uppercase;
}

h2{
  font-size: 20px;
  text-transform: uppercase;
}

h3{
  font-size: 18px;
}

h4{
  font-size: 17px;
}

h5{
  font-size: 16px;
}

h6{
  font-size: 15px;
}

p{
  margin: 0 0 15px 0;
}

img{
  max-width: 100%;
}

ul li , ol li{
  margin: 0 0 10px 15px;
  padding: 0px;
}

ul , ol {
  margin: 0 0 10px 15px;
  padding: 0px;
}

input { 
  padding: 0.2em;
}

a , a:hover , a:focus , a:visited , input , textarea , button , img , select{
  outline: none !important;
  text-decoration: none !important;
}

a{
  color: #92d050;
}

a:hover{
  color: var(--acc-blue);
}

section:before , section:after{
  clear: both;
  display: table;
  content: "";
}

section{
  position: relative;
  clear: both;
  padding: 15px 0;
}

strong{
  font-weight: bold;
}

select {
min-width: 10em;
-webkit-appearance: none;
-moz-appearance: none;

}

label {
  display: inline-block;
  margin-bottom: 0.25rem;
}

textarea::placeholder, input::placeholder {
  font-size: 12px !important;
  padding: 0.5em;
}

input[type=number]::placeholder {
  text-align: right;
  font-size: 0.2em;
}

.theme-btn{
  display: inline-block;
  width: auto;
  padding: 0 30px;
  text-align: center;
  color: #ffffff;
  background:var(--acc-blue);
  /* -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; */
  font-weight: bold;
  height: 35px;
  line-height: 35px;
  border: none;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}

.container{
  max-width: 767px;
}

.header-part{
  background: rgba(255,255,255,0.90);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 999;
  /* padding: 5px 0; */
}

.header-part:after{
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 1.5px;
  content: "";
  background: var(--)
}


/* NAVIGATION */
.main-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background: #e8e8e8;
  max-width: 180px;
  width: 100%;
  display: none;
  border: 1px solid #a5a5a5;
  border-top: none;
}

.main-menu.active{
  display: block;
}

.main-menu ul , .main-menu li{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.main-menu li a {
  color: #000000;
  display: block;
  padding: 10px 20px;
}

.main-menu li.active a , .main-menu li:hover a{
  color: var(--acc-blue);
}

.logo{
  margin-right: auto;
}

.nav-line {
  background-color: var(--acc-yellow);
  max-height: 0.2em;
}

/*MOBILE HAMBERGER */

.hamburger-menu{
display: flex;
width: auto;
position: relative;
z-index: 999999;
-webkit-transition: all 0.5s ease 0s;
-moz-transition: all 0.5s ease 0s;
-ms-transition: all 0.5s ease 0s;
-o-transition: all 0.5s ease 0s;
transition: all 0.5s ease 0s;
}

.hamburger-menu a{
display: inline-block;
width: 40px;
height: 35px;
}

.burger {
height: 3em;
width: 34px;
position: relative;
font-size: 12px;
cursor: pointer;
transition: all .2s;
-webkit-tap-highlight-color: transparent;
}

.burger::after {
content: "";
display: block;
position: absolute;
height: 150%;
width: 150%;
top: -25%;
left: -25%;
}

.burger.burger-squeeze .burger-lines::after, .burger.burger-squeeze .burger-lines::before {
width: 2em;
}

.burger .burger-lines::after {
left: 0;
top: -0.6em;
}

.burger .burger-lines::before {
left: 0em;
top: 0.6em;
}

.burger.burger-squeeze .burger-lines, .burger.burger-squeeze .burger-lines::after, .burger.burger-squeeze .burger-lines::before {
transition: top .2s .2s,left .1s,transform .2s,background-color .4s .2s;
}

.burger .burger-lines, .burger .burger-lines::after, .burger .burger-lines::before {
pointer-events: none;
display: block;
content: "";
width: 100%;
border-radius: 0;
background-color: var(--acc-blue);
height: .30em;
position: absolute;
-webkit-transform: rotate(0);
transform: rotate(0);
}

.hamburger-menu-on.active .burger .burger-lines, .hamburger-menu-on.active .burger .burger-lines::after, .hamburger-menu-on.active .burger .burger-lines::before{
background: rgba(255, 255, 255, 0.3);
}

.hamburger-menu.hamburger-menu-on.active {
position: relative;
margin-left: 15px;
-webkit-transition: all 0.5s ease 0s;
-moz-transition: all 0.5s ease 0s;
-ms-transition: all 0.5s ease 0s;
-o-transition: all 0.5s ease 0s;
transition: all 0.5s ease 0s;
}

.close-humb .burger .burger-lines, .close-humb .burger .burger-lines::after, .close-humb .burger .burger-lines::before{
background: #000000;
}

.burger .burger-lines {
top: 50%;
margin-top: -.125em;
width: 2.5em;
}

.burger.burger-squeeze .burger-lines::after, .burger.burger-squeeze .burger-lines::before {
width: 30px;
left: 0em;
}

.burger.burger-squeeze.open .burger-lines::after {
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
}

.burger.burger-squeeze.open .burger-lines::after, .burger.burger-squeeze.open .burger-lines::before {
left: 0;
top: 0;
}

.burger.burger-squeeze.open .burger-lines, .burger.burger-squeeze.open .burger-lines::after, .burger.burger-squeeze.open .burger-lines::before {
transition: background-color .2s,top .2s,left .2s,transform .2s .15s;
background: #000000;
}

.burger.burger-squeeze.open .burger-lines::before {
-webkit-transform: rotate(-45deg);
transform: rotate(-45deg);
}

.burger.burger-squeeze.open .burger-lines {
background-color: initial;
}

.header-inner{
  display: flex;
  width: 100%;
  align-items: center;
}

.main-part{
  margin-top: 90px;
  /* padding: 45px 0 25px 0; */
}

.network-part{
  min-height: calc(100vh - 65px);
}

.section-100{
  margin-top: 112px;
  min-height: calc(100vh - 72px);
}

.round-item{
  width: 75px;
  height: 75px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
  border: 1.5px solid #ffffff;
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.round-item.round-item-md{
  width: 85px;
  height: 85px;
}

.round-item.round-item-lg{
  width: 100px;
  height: 100px;
}

.round-item a{
  color: #ffffff;
  max-width: 58px;
  line-height: normal;
}

.round-item-yellow{
  background: var(--acc-yellow)
}

.round-item-gray{
  background: #a5a5a5;
}

.round-item-blue{
  background: var(--acc-blue);
}

.round-item-pink{
  background: #ff5050;
}

.round-item-perrot{
  background: #92d050;
}

.round-item-sky{
  background: #5b9bd5;
}

.round-item-top-left {
  position: absolute;
  left: 0px;
  top: 20px;
}

.round-item-top-right {
  position: absolute;
  right: 0px;
  top: 20px;
}

.round-item-center {
  position: absolute;
  left: 38%;
  top: 30%;
}

.round-item-bottom-left {
  position: absolute;
  left: 15px;
  bottom: 90px;
}

.round-item-bottom-right {
  position: absolute;
  right: 15px;
  bottom: 70px;
}

.round-item-bottom-center{
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-left: -15px;
}

.network-part {
  min-height: calc(100vh - 65px);
  display: flex;
  align-items: center;
}

.network-inner {
  height: 350px;
  position: relative;
  width: 100%;
}

.footer-part{
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  z-index: 99;
  background: rgba(255,255,255,0.90);
  padding: 5px 0;
}

.footer-inner{
  display: flex;
  width: 100%;
  align-items: center;
}

.footer-left{
  margin-right: auto;
}

.footer-left a{
  color: var(--acc-yellow)
}

.round-item-top-left:before {
  position: absolute;
  left: 56px;
  top: 114%;
  width: 100%;
  background: #fff;
  content: "";
  height: 1.5px;
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  transform: rotate(35deg);
}

.round-item-top-right:before {
  position: absolute;
  left: -13px;
  top: 105%;
  width: 41%;
  background: #fff;
  content: "";
  height: 1.5px;
  -webkit-transform: rotate(-41deg);
  -moz-transform: rotate(-41deg);
  transform: rotate(-41deg);
}

.round-item-bottom-left:before {
  position: absolute;
  left: 68px;
  bottom: 86%;
  width: 53%;
  background: #fff;
  content: "";
  height: 1.5px;
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  transform: rotate(150deg);
}

.round-item-bottom-center:before {
  position: absolute;
  left: 22px;
  bottom: 137%;
  width: 77%;
  background: #fff;
  content: "";
  height: 1.5px;
  -webkit-transform: rotate(104deg);
  -moz-transform: rotate(104deg);
  transform: rotate(104deg);
}

.round-item-bottom-right:before {
  position: absolute;
  left: -13px;
  bottom: 101%;
  width: 40%;
  background: #fff;
  content: "";
  height: 1.5px;
  -webkit-transform: rotate(52deg);
  -moz-transform: rotate(52deg);
  transform: rotate(52deg);
}

.network-inner{
  max-width: 290px;
  margin: 0 auto;
  /* -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; */
  transform: opacity 0.2;
  font-size: 12px;
}

.network-inner.network-inner-blind{
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

/* .wir-btn{
  width: 100px;
  height: 100px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
  border: 1.5px solid #ffffff;
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--acc-blue);
  position: absolute;
  left: 50.3%;
  top: 41.1%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -webkit-transition: all 0.5.1s ease 0s;
  -moz-transition: all 0.5.1s ease 0s;
  transition: all 0.5.1s ease 0s; 
  animation: zoom-in-zoom-out 5.1s ease infinite;
  margin-left: -35px;
  font-size: 12px;
  flex-direction: column;
  line-height: normal;
} */
/* 
.wir-btn small{
  display: block;
}

@keyframes zoom-in-zoom-out {
0% {
  transform: scale(2, 2);
}
100% {
  transform: scale(1, 1);
}
}

.wir-btn.blind{
  opacity: 0;
  visibility: hidden;
} */

.glb-top{
  padding-right: 55px;
}

.glb-top h3 , .glb-top p{
  margin-bottom: 0px;
}

.slider-icon .icon-normal{
  display: inline-block !important;
  width: auto !important;
}

.slider-icon .icon-active{
  display: none !important;
  width: auto !important;
}

.slider-icon:hover .icon-normal{
  display: none !important;
}

.slider-icon:hover .icon-active{
  display: inline-block !important;
}

.slider-icon{
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.glb-slider{
  margin-top: 20px;
  margin-bottom: 25px;
  position: relative;
}

/* .owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 0;
  padding: 0;
  background: transparent;
  display: inline-block;
  cursor: pointer;
  border-radius: 0;
  font-size: 0px;
  width: 15px;
  height: 18px;
  background-size: 15px !important;
}

.owl-theme .owl-nav .owl-prev{
  background: url('./assets/icon1.png') no-repeat center center;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  transform: rotate(-180deg);
  left: -6px;
  top: 0.5px;
  position: relative;
}

.owl-theme .owl-nav .owl-prev:hover{
  background: url('./assets/icon1-active.png') no-repeat center center;
}

.owl-theme .owl-nav .owl-next{
  background: url('./assets/icon1.png') no-repeat center center;
}

.owl-theme .owl-nav .owl-next:hover{
  background: url('./assets/icon1-active.png') no-repeat center center;
} 

.owl-theme .owl-nav {
  margin-top: 0px;
  position: absolute;
  right: 0;
  top: -46px;
}*/



.form-field {
  display: flex;
  padding-bottom: 0.7em;
}

.form-field label {
  min-width: 8em;
  margin-right: 2em
}



.form-field input[type="text"] , .form-field input[type="password"], .form-field input[type="checkbox"]
, .form-field textarea , .form-field input[type="tel"] , .form-field input[type="subject"] 
, .form-field input[type="email"] , .form-field select{
  border: 1px solid #222222;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 30px;
  padding: 0 10px;
  width:10em;
}

.form-field select{
  background: url('./assets/select-arrow.png') no-repeat calc(100% - 10px) center;
}

.form-field textarea{
  height: 105px;
  padding: 5px 20px;
}

.whatsapp-icon {
  position: fixed;
  right: 15px;
  bottom: 50px;
}

.glb-form, .login-form{
  display:flex; 
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  /* padding-right: 52px; */
}

.glb-form {  
  /* padding-left: 52px; */
}


.glb-table table{
  width: 100%;
  margin-bottom: 15px;
}

.glb-table-table th , .glb-table td{
  min-height: 34px;
}

.glb-table th{
  background: #ffc000;
  color: #ffffff;
  font-weight: bold;
  padding: 8px 10px;
}

.glb-table td{
  padding: 5px 10px;
  background: #e1e1e1;
}

.glb-table tr:nth-child(even) td{
  background: #f0f0f0;
}

.form-field input[type="submit"] {
  background: url('./assets/icon3.png') no-repeat center center;
  width: 39px;
  height: 25px;
  border: none;
  position: absolute;
  right: -50px;
  top: 24px;
  padding: 0px;
}

.glb-table-simple table td{
  padding: 5px 10px;
}

.glb-table-simple tr td:last-child{
  text-align: right;
}

.login-part{
  display: flex;
  align-items: center;
  width: 100%;
}

.login-inner .form-field input[type="submit"] {
  background: url('./assets/icon1-active.png') no-repeat center center;
  top: 28px;
}

.login-inner .glb-form{
  margin-bottom: 25px;
}

.login-inner h6{
  max-width: 80%;
  margin-bottom: 0px;
}

.glb-part .glb-inner .login-inner .glb-form{
  margin-bottom: 15px;
}

.login-icon {
  margin-right: 12px;
  max-width: 22px;
}

.top-around, .top-around-blue {
  width: 90px;
  height: 90px;
  position: absolute;
  left: -35px;
  top: 50px;

  border: 5px solid var(--acc-yellow);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  opacity: 0.75;
}

.top-around-blue {
  bottom: 100px;
  border: 5px solid var(--acc-blue);
}

.bottom-around, .bottom-around-blue {
  width: 90px;
  height: 90px;
  position: absolute;
  right: -35px;
  bottom: 60px;
  border: 5px solid var(--acc-yellow);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  opacity: 0.75;
}

.bottom-around-blue {
  border: 5px solid var(--acc-blue);
}

.login-illution {
  position: absolute;
  right: 15px;
  top: 38px;
  max-width: 200px;
}

.glb-part .login-inner{
  margin-top: 30px;
}

.login-inner {
  margin-top: 50px;
}

.theme-btn-float{
  position: absolute;
  bottom: 25px;
  right: 15px;
}

.reward-part.glb-part .glb-inner .login-inner .glb-form{
  padding-right: 0;
}

.camera-product{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.camera-right button{
  background: transparent;
  border: none;
  padding: 0px;
}

.camera-left {
  display: flex;
  gap: 10px;
  font-size: 12px;
  line-height: 20px;
}

/*Custom by dev*/
#bus_img {
display: none;
}

.alert {
  padding: 0.5em;
  min-height: 2.5em;
}

.alert-success {
  margin-top: 150px;
}

.alert-info {
  background-color: var(--acc-yellow);
}

.alert-danger {
  font-size: 0.8em;
  max-width: 20em;
}

.signup {
  margin-top: -10px;
  font-weight: bold;
  margin-bottom: 20px;
}

/*** Action Buttons ****/
.action-icons-list {
  display: flex;
  flex-direction: row;
}
.action-btn {
  height: 40px;
}

.action-arrow-left {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  transform: rotate(-180deg);
  margin-right: 0.2em;
}
/* Daily Report */
.glb-table table, .report-table table{
  width: 100%;
  margin-bottom: 15px;
}

.glb-table th, .report-table th, .report-table td , .glb-table td{
  min-height: 34px;  
}

.glb-table td {
  font-size:0.9em;
}

.glb-table th, .report-table th{
  background: #ffc000;
  color: #ffffff;
  font-weight: bold;
  padding: 8px 10px;
}

.glb-table td, .report-table td{
  padding: 5px 10px;
  background: #e1e1e1;
}

.glb-table tr:nth-child(even) td, .report-table tr:nth-child(even) td{
  background: #f0f0f0;
}

.alert-success {
  margin-top: 150px;
}

.signup {
  margin-top: -10px;
  font-weight: bold;
  margin-bottom: 20px;
}

/*** Action Buttons ****/
.action-icons-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;

  margin-top: 20px;
  margin-bottom: 20px;
}

.action-btn {
  height: 40px;
}

.action-active {
  height: 50px;
}

.action-arrow-left {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  transform: rotate(-180deg);
  margin-right: 0.2em;

}

.required {
  color: red;
  font-weight: bold;
  margin-left: 0.2em;
}

.notValid {
  border-color: red;
  background-color: rgba(255,0,0,0.1);
} 

/* Home Network Element */
.network-inner-home {
  height: 350px;
  position: relative;
  width: 100%;
}

.network-inner-home{
  max-width: 290px;
  margin: 0 auto;
  font-size: 12px;
}