
.glb-form {
     padding-left: 0;
}

.glb-table-simple table{
     width: 100%;
}

.glb-table-simple th {
     text-align: center;
     width: 20%;
     border-bottom: 1px solid silver;
}

.glb-table-simple td  {
     text-align: right;
     white-space: nowrap;
     border-right: 1px solid silver;
     padding-right: 10px;

}

.form-field label {
     min-width: 9em;
}

.total {
     font-weight: bold;
}